@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    background: #fff;
    position: relative;
    display: flex;
}

#menu{
    background-color:#030c4c;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#dropdownMenu{
    background-color:#bbd5f9 !important;
    margin-left: 20px !important;
    padding-left: 10px;
    padding-right: 10px;
}


#menu .logo img{
    width: 40px;
    margin-right:15px ;
}

#menu .logo{
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px 0 0 30px;
}

#menu .itens{
    margin-top: 40px;
}

#menu .itens li{
    list-style: none;
    padding: 15px 0;
    transition: 0.3 ease;
}

#menu .itens li:hover{
    background-color:#5f95e7;
    cursor: pointer;
}


#menu .itens li i{
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
    margin: 0 10px 0 25px;
}

#menu .itens li:hover i,
#menu .itens li:hover a {
    color: #030c4c;
}

#menu .itens li a{
    text-decoration: none;
    color:#fff;
    font-size: 23px;
    font-weight: 300px;
    transition: 0.3 ease;
}


.content {
    margin: 50px 10px 50px 50px;
}

.signin-text {
    font-style: normal;
    font-weight: 600 !important;
    color: #030c4c;
    margin-top: 10px;
}

label {
    color: #030c4c;
}

form {
    margin-top: 40px;
}

.form-control {
    display: block;
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1, 5;
    border-color: #030c4c;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    padding: 8px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 10px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    box-shadow: none;
}

.btn-class {
    background-color: #030c4c;
    color: #ebeff0;
    border-radius: 10px;
    width: 30%;
    border-width: 1px 1px 1px 1px #030c4c;
}

.btn-class:hover {
    background-color: #5f95e7;
    color: #030c4c;
}

 .btn-primary {
    background-color: #030c4c;
    color: #ebeff0;
    border-radius: 10px;
    width: 30%;
    border-width: 1px 1px 1px 1px #030c4c;
    margin:  0 15px 0 0px;
}

.btn:hover{
    background-color: #5f95e7;
    color: #030c4c;
}

.img-fluid{
    padding-top: 80px;
}

.btn-secondary{
    background-color: #014ba0;
    color: #ebeff0;
    border-radius: 10px;
    width: 30%;
    border-width: 1px 1px 1px 1px #014ba0;
    margin:  0 15px 0 0px;
}

.img{
    padding-top:5px ;
    border-radius: 50px;
}

aside {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
}

a.active,
a:hover {
    background:#5f95e7;
    color:#030c4c;
    transition: .5s;
}

.checkbtn {
    font-size: 40px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}