@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    background: #fff;
    position: relative;
    display: flex;
}

#menu{
    background-color:#030c4c;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

}

#menu .logo img{
    width: 40px;
    margin-right:15px ;
}

#menu .logo{
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px 0 0 30px;
}

#menu .itens{
    margin-top: 40px;
}

#menu .itens li{
    list-style: none;
    padding: 15px 0;
    transition: 0.3 ease;
}

#menu .itens li:hover{
    background-color:#5f95e7;
    cursor: pointer;
}

#menu .itens li:nth-child(1){
    border-left: 4px solid #fff;
}

#menu .itens li i{
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
    margin: 0 10px 0 25px;
}

#menu .itens li:hover i,
#menu .itens li:hover a {
    color: #030c4c;
}

#menu .itens li a{
    text-decoration: none;
    color:#fff;
    font-size: 23px;
    font-weight: 300px;
    transition: 0.3 ease;
}

#interface{
    width: calc(100% - 300px);
    margin-left: 300px;
    position: relative;
}

#interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: 3px solid #5f95e7;
}

#interface .navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border:  1px solid #030c4c;
    border-radius: 4px;
}

#interface .navigation .search i{
    margin-right: 14px;
}

#interface .navigation .search input{
    border: none;
    outline: none;
    font-size: 14px;
}

#interface .navigation .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#interface .navigation .profile i{
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}

#interface .navigation .profile img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.i-name{
    color: #030c4c;
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
}

.values{

    padding: 30px 30px 30px 30px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;

}

.values .val-box{
    background: #bbd5f9;
    width: 250px;
    padding: 20px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.values .val-box i{
    font-size: 35px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color:#fff;
    background: #5f95e7;
    margin-right: 25px;
}

.values .val-box h3{
    font-size: 30px;
    font-weight: 600;
    color: #030c4c;
}

.values .val-box span{
    font-size: 20px;
    color: #030c4c;
}

